$primary-color: #ef5b70;


.information__center {
    margin-top: 109px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-img {
    position: absolute;
    top: -16px;
}

.footer-img:hover {

    transform: rotate(180deg);
    cursor: pointer;

}


.brand-footer {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #3e3e40;
    margin-left: 70px;
}

.brand-footer-d {
    font-size: 27px;
    font-weight: 900;
    color: $primary-color;
}

.information__text {
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 29px 0 0 0;
    margin-top: -5px;
}

.information__title {
    margin-left: 40px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

.information__list {
    list-style: none;
}

.information__link {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    transition: color 0.3s;
}

.information__link:hover,
.information__link_select {
    color: $primary-color;
}

.footer {
    background-color: #e6e6e6;
    width: 100%;
    height: 79px;
    margin: 89px 0 0 0;
}

.footer-wrapper {
    width: 1120px;
    margin: 0 auto;
}

.footer-center {
    display: flex;
    justify-content: space-between;
}

.footer-copyrights {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 79px;
}

.footer-socials {
    display: flex;
    padding: 24px 0 0 0;
}

.footer-link {
    display: block;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    margin: 0 0 0 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}

.footer-link:after {
    color: #b2b2b2;
}

.footer-link:hover {
    background-color: $primary-color;
}

.footer-link:hover:after {
    color: #f7f7f8;
}

.footer-link:active {
    background-color: #eeeeee;
}

.footer-link:active:after {
    color: #b2b2b2;
}

.footer-link_fb:after {
    content: "";
    font-family: "FontAwesome";
}

.footer-link_tw:after {
    content: "";
    font-family: "FontAwesome";
}

.footer-link_in:after {
    content: "";
    font-family: "FontAwesome";
}

.footer-link_pr:after {
    content: "";
    font-family: "FontAwesome";
}

.footer-link_gp:after {
    content: "";
    font-family: "FontAwesome";
}